h1{
color: green;
}
p{
color: coral;
}
h1 {
font-family: sans-serif;
}
p {
font-family: fantasy;
}
ul {
    list-style-type: circle;
}
ol{
    list-style-type: upper-roman;
}
ul{
    list-style-image: url(images/pointer-icon.png);
}

#menu-bar a{
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}
#menu-bar a:hover{
    background-color: aqua;
    color: black;
}
.gallery img{
    width: 100%;
}
#menu {
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    padding-top: 12px;
}

#menu a {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800px;
    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover {
    color: #5077bd;   }